.classpath
.metadata
.gradle
.project
.settings
bin/
build/
jars/
run/
*.iml
*.launch
/.nb-gradle/
eclipse/

config/
crash-reports/
logs/
options.txt
.mixin.out/
classCache.dat
__pycache__/

/*Audio files*/
*.ogg
*.WAV
